body{
    margin: 0px;
}

.wrapper{
    background-color: maroon;
    height: 100%;
    width: 100%;
}

header{
    width: 100%;
    height: 100px;
    background-color:white;
    overflow: hidden;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

main{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    height: 100vh;
}
.box{
    background-color: rgba(246, 193, 193, 0.62);
}

article{
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px;
    border-radius: 5px;
    border-style: groove;
    border-color: black;
}

article h1{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin: 5px;    
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

p{
    margin: 5px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 20px;
    padding: 0;
}

a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:none;
    margin: 10px;
    border: 10px;
    text-decoration: none;
    font-size: 2em;
    color: black;
}

/*li a{
    display: block;
    text-align: center;
    padding: 20px, 100px;
    margin: 10px;
}*/

li{
    float: left;
    background-color: goldenrod;
    border-radius: 5px;
}
li:hover {
    background-color: hotpink;

}

.site_name{
    margin: 30px;
}

.site_name h1{
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
